<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <meta content="Página de ejemplo de Spring Boot + Thymeleaf para el curso de Egg" name="description"/>
    <meta content="Cristian Solís" name="author"/>
    <title>Inicio - Ejemplo Spring Egg</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap.min.css}"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container mt-5 main">
    <div class="row my-auto g-4 justify-content-evenly">
        <div class="card col-lg-5 p-0 clickable-card">
            <a class="text-decoration-none" th:href="@{/usuarios}">
                <div class="row g-0">
                    <div class="col-md-4 index-usuario"></div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">USUARIOS</h5>
                            <p class="card-text">Acceda a la página de usuarios</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card col-lg-5 p-0 clickable-card">
            <a class="text-decoration-none" th:href="@{/mascotas}">
                <div class="row g-0">
                    <div class="col-md-4 index-mascota"></div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">MASCOTAS</h5>
                            <p class="card-text">Acceda a la página de mascotas</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

<!-- JS -->
<script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
</body>
</html>
