<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <meta content="Página de ejemplo de Spring Boot + Thymeleaf para el curso de Egg" name="description"/>
    <meta content="Cristian Solís" name="author"/>
    <title>Usuarios - Ejemplo Spring Egg</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap.min.css}"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<nav th:replace="fragmentos :: navbar"></nav>

<div class="container mt-5 main">
    <h1>Listado de usuarios</h1>
    <hr class="mb-5"/>
    <div th:if="${usuarios.isEmpty()}">
        <h5>Todavía no hay usuarios cargados. <a th:href="@{/usuarios/crear}">Cargar usuario.</a></h5>
    </div>
    <div class="table-responsive" th:unless="${usuarios.isEmpty()}">
        <table class="table table-hover table-sm table-bordered">
            <thead class="table-secondary text-center">
            <tr>
                <th class="col-md-1 ps-2" scope="col">DNI</th>
                <th class="col-md-3 px-md-2" scope="col">Apellido</th>
                <th class="col-md-3 px-md-2" scope="col">Nombre</th>
                <th class="col-md-2 px-md-2" scope="col">Fecha de nacimiento</th>
                <th class="col-md-3 px-md-2" scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="usuario : ${usuarios}">
                <th class="col-md-1 px-md-2 text-center" scope="row"
                    th:text="${usuario.dni}"></th>
                <td class="col-md-3 px-md-2" th:text="${usuario.apellido}"></td>
                <td class="col-md-3 px-md-2" th:text="${usuario.nombre}"></td>
                <td class="col-md-3 px-md-2" th:text="${#dates.format(usuario.fechaNacimiento, 'dd/MM/yyyy')}"></td>
                <td class="col-md-3 px-md-2 d-flex justify-content-around w-100">
                    <a class="btn btn-secondary btn-sm" th:href="@{/usuarios/editar/__${usuario.dni}__}">Editar</a>
                    <form th:if="${usuario.alta}" method="post" th:action="@{/usuarios/eliminar/__${usuario.dni}__}">
                        <button class="btn btn-danger btn-sm" type="submit">Eliminar</button>
                    </form>
                    <form th:unless="${usuario.alta}" method="post"
                          th:action="@{/usuarios/habilitar/__${usuario.dni}__}">
                        <button class="btn btn-danger btn-sm" type="submit">Habilitar</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer th:replace="fragmentos :: footer"></footer>

<!-- JS -->
<script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
</body>
</html>
